.home{
    background-image: url("./delani-image/backgrounds/h_img.jpg");
    height: 100vh;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}
   
 p{
     text-align: center;
 }
 h3{
     text-align: center;
     text-transform: uppercase;  
 }
 .Services{
     background-image: url("./delani-image/backgrounds/s_image.jpg");
     height: 30vh;
     text-align: center;
     color: #ffffff;
 }
 h4{
     text-transform: uppercase;
 }