*{
    overflow-x: hidden;
}
.home{
    background-image: url("./delani-image/backgrounds/h_img.jpg");
    height: 100vh;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-display: bold;
}
   
 p{
     text-align: center;
 }
 h3{
     text-align: center;
     text-transform: uppercase;  
 }
 .Services{
     background-image: url("./delani-image/backgrounds/s_image.jpg");
     height: 30vh;
     text-align: center;
     color: #ffffff;
 }
 h4{
     text-transform: uppercase;
 }
 h5{
     text-align: center;
     text-transform: uppercase;
     font-display: bold;
 }
 .contact{
     background-image: url("./delani-image/backgrounds/c_image.jpg");
     height: 55vh;
     color: #ffffff;
     text-align: center;
     text-transform: uppercase;
     padding-top: 15px;
 }

.Icons{
    text-align: center;
    margin-left: 480px;
}












 