.home{
    background-image: url("./delani-image/backgrounds/h_img.jpg");
    height: 100vh;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}
   
 p { 
font-size: 30px;
    
 }
 h3{
     text-align: center;
     text-transform: uppercase;  
 }
 